body
{
    background-image: url('../images/restaurant.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

a
{
    text-decoration: none;
}

.menu-table
{
    margin-left: auto;
    margin-right: auto;
}

img
{
    width: 80vw;
    max-width: 400px;
}

ol
{
    list-style-position: inside;
}

.fcolumn2
{
        text-align: right;
}

/*Dropdown icon properties*/
.dropbtn 
{
    margin-top: 12px;
}

/*Media queries for custom responsiveness*/
  
  @media screen and (max-width:1000px) 
  {
    iframe
    {
        width: 520px;
        height: 390px
    }
  }
  
  @media screen and (max-width:600px) 
  {
    .fcolumn2
    {
        padding-top: 15px;
        text-align: left;
    }
    iframe
    {
        width: 320px;
        height: 245px
    }
  }
  